SET client_encoding = 'UTF8';

DROP TABLE IF EXISTS post CASCADE;
DROP TABLE IF EXISTS author CASCADE;
DROP TABLE IF EXISTS session CASCADE;

CREATE TABLE author (
    id_author SERIAL PRIMARY KEY,
    name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(150) UNIQUE,
    phone VARCHAR(20),
    username VARCHAR(50) UNIQUE,
    password VARCHAR(255)
);

CREATE TABLE post (
    id_post SERIAL PRIMARY KEY,
    title VARCHAR(255),
    date DATE DEFAULT CURRENT_DATE,
    img TEXT,
    description TEXT,
    id_author INTEGER REFERENCES author(id_author) ON DELETE CASCADE
);

CREATE TABLE session (
    sid VARCHAR NOT NULL PRIMARY KEY,
    sess JSON NOT NULL,
    expire TIMESTAMP(6) NOT NULL
);

INSERT INTO author (id_author, name, last_name, email, phone, username, password) VALUES 
(1, 'Alejandra', 'Salgado Garcia', 'alejandra.salgado@email.com', '123456789', 'alesal', 'RileyyRemi'),
(2, 'Maria Isabel', 'Salgado Garcia', 'mariaisabel.salgado@email.com', '987654321', 'starisabel', 'RemiyRiley');

