body{
  background-color: #caaad6;
}

.card{
  text-align: center ;
  padding-top: 1%;
  margin: 15px;
  border-radius: 7%;
  background-color: rgb(235, 219, 243);
  padding-bottom: 2%;
}

.card img{
  width: 70%;
}

.fila{
  display: flex;
}

h1{
  text-align: center;
  font-size: xx-large;
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
  font-size: large;
  color: #000000;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
  font-size: x-large;
  color: #000000;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h4{
  font-size: xx-large;
  color: #000000;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cardList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card{
  width: 100%;
}

.filter{
  font-size: xx-large;
  padding-top: 1%;
  text-align: center;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
  text-align: center;
  font-size: 30px;
  border-radius: 30%;
  background-color: #fbefff;
  width: 1000px;
}

nav {
  background-color: #ff0d72;
  padding: 10px;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px;
}

nav a:hover {
  background-color: #555;
}